.logoImg {
    display: block;
    width: 700px;
    margin: 0 auto;
}

.search {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 650px;
}

.serchBar {
    padding-left: 40px;
    top: 30px;
    width: 600px;
    height: 40px;
    border: 2px solid rgb(209, 207, 207);
    border-radius: 20px;
    
}

.fa-search {
    position: absolute;
    font-size: 25px;
    left: 10px;
    top: 10px;

}

.fa-keyboard {
    position: absolute;
    font-size: 25px;
    right: 20px;
    top: 10px;
}

.fa-microphone {
    position: absolute;
    font-size: 25px;
    top: 10px;
    right: 60px;
}

.grayBox {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    width: 300px;
}
.Box1{
    padding: 8px;
    font-size: 20px;
    border-radius: 4px;
    background-color: #bbb;
}

.Box2{
    padding: 8px;
    font-size: 20px;
    border-radius: 4px;
    background-color: #bbb;
}

.eng {
    width: 200px;
    display: block;
    margin: 0 auto;
}